html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits color from parent */
}

.App {
  height: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 18px;
  }
}

main {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
